@model FloralShop.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Detail</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">                                       <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6>Category:   </h6>
                </div>
                <div class="card-body">
                    <div>
                    
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Created_at)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Created_at)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Updated_at)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Updated_at)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Categoryid">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
                   

                </div>
            </div>

    </div>
</div>
