

@model IEnumerable<FloralShop.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Product list</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">                                       <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Categories List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <!-- Individual column searching (text inputs) Starts-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <span>List of Flower Category</span>
                </div>
                <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Category Name</th>
                                    <th>Status</th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Categoryid</td>
                                        <td>@item.Name</td>
                                        <td>
                                            <a class="btn btn-danger btn-xs" asp-action="Edit" asp-route-id="@item.Categoryid" data-original-title="Click to delete" title="">Delete</a>
                                            <a class="btn btn-success btn-xs" asp-action="Edit" asp-route-id="@item.Categoryid" data-original-title="Click to edit" title="">Edit</a>
                                        </td>
                                    </tr>
                                }

                                </tbody>
                        </table>
                </div>
            </div>
        </div>
        <!-- Individual column searching (text inputs) Ends-->
    </div>
</div>

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created_at)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated_at)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated_at)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Categoryid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Categoryid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Categoryid">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
*@